.container{
	height: 100%;
	position: relative;
}


html, body {
	height: 100%;
	maring: 0;
	padding: 0;
}

h1 {
	opacity: none;
	font-size: 25px
	margin: 0 0 10px 0;
	text-align: center;
	font-family: "Impact";
}

#map {
	border: 2px solid #D3D3D3;
	border-radius: 30px;
	bottom:0px;
	left: 360px;
	position: absolute;
	height: 100%;
	right: 0px;
}

.listings {
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/8f/50/0f/8f500f513104b96225df27518bc8d95e.jpg");
	background-color: #D3D3D3;
	border: 2px solid gray;
	border-radius: 30px;
	height: 100%;
	line-height: 35px;
	padding: 10px 10 px 30px 10px;
	text-align: left;
	width: 345px;
}



.list-box {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); 
}



